@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono|Advent+Pro|Montserrat");
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
}

#magicMirror {
  height: 100vh;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* padding:5rem; */
}

/* Fonts importieren */
body {
  font-family: 'Montserrat', sans-serif;
}

.--mm-mainCanvas {
  background-color: black;
  z-index: 0;
  color: white;
  -webkit-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
}
.--mm-mainCanvas .--mm-editButton {
  display: block;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  height: 6rem;
  width: 6rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: background-color 300ms ease,-webkit-transform 300ms ease;
  transition: background-color 300ms ease,-webkit-transform 300ms ease;
  transition: transform 300ms ease,background-color 300ms ease;
  transition: transform 300ms ease,background-color 300ms ease,-webkit-transform 300ms ease;
  background-color: rgba(255, 255, 255, 0);
  background-image: url("img/ui_add.svg");
  background-size: contain;
}
.--mm-mainCanvas .--mm-editButton:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.--mm-mainCanvas.--mm-editMode {
  background-color: #3e3e3e;
}
.--mm-mainCanvas.--mm-editMode .--mm-editButton {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.--mm-mainCanvas.--mm-editMode .--mm-widget {
  cursor: move;
  /* box-shadow: 0 0 5rem 1rem rgba(black, 0.4); */
}
.--mm-mainCanvas.--mm-editMode .--mm-widget:hover {
  outline-color: white;
}
.--mm-mainCanvas.--mm-editMode .--mm-widget:hover:not(.mm-widget-flipped) .--mm-widget-settingsButton.--mm-visible {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.--mm-mainCanvas.--mm-editMode .--mm-widget:hover .--mm-widget-nameTag {
  opacity: 1;
}
.--mm-mainCanvas.--mm-editMode .--mm-widget:active {
  /* transform: scale(1.1); */
}
.--mm-mainCanvas .--mm-widget {
  position: absolute;
  outline: 0.2rem solid rgba(0, 0, 0, 0);
  /* background-color: rgba(white, 0.1); */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: outline 200ms ease, -webkit-transform 100ms ease, -webkit-box-shadow 500ms ease 100ms;
  transition: outline 200ms ease, -webkit-transform 100ms ease, -webkit-box-shadow 500ms ease 100ms;
  transition: transform 100ms ease, outline 200ms ease, box-shadow 500ms ease 100ms;
  transition: transform 100ms ease, outline 200ms ease, box-shadow 500ms ease 100ms, -webkit-transform 100ms ease, -webkit-box-shadow 500ms ease 100ms;
  -webkit-perspective: 50rem;
          perspective: 50rem;
  /* box-shadow: 0 0 5rem 1rem rgba(black, 0); */
}
.--mm-mainCanvas .--mm-widget > .--mm-widget-front,
.--mm-mainCanvas .--mm-widget > .--mm-widget-back {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
  height: 100%;
  width: 100%;
  padding: 0.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.--mm-mainCanvas .--mm-widget > .--mm-widget-front {
  z-index: 2;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  /* background: red; */
}
.--mm-mainCanvas .--mm-widget > .--mm-widget-back {
  z-index: 3;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  background: #121212;
}
.--mm-mainCanvas .--mm-widget.--mm-widget-flipped > .--mm-widget-front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}
.--mm-mainCanvas .--mm-widget.--mm-widget-flipped > .--mm-widget-back {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}
.--mm-mainCanvas .--mm-widget .--mm-widget-settingsButton {
  display: block;
  position: absolute;
  height: 4.5rem;
  width: 4.5rem;
  bottom: 0.45rem;
  right: 0.45rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: opacity 200ms ease, -webkit-transform 200ms ease;
  transition: opacity 200ms ease, -webkit-transform 200ms ease;
  transition: transform 200ms ease, opacity 200ms ease;
  transition: transform 200ms ease, opacity 200ms ease, -webkit-transform 200ms ease;
  /* background-color: rgba(white,1); */
  background-image: url("img/ui_settings.svg");
  background-size: contain;
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: scale(0.1);
          transform: scale(0.1);
}
.--mm-mainCanvas .--mm-widget .--mm-widget-nameTag {
  font-family: 'Montserrat', sans-serif;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
  pointer-events: none;
  user-select: none;
  padding: 1rem 1.8rem;
  text-transform: uppercase;
  font-weight: 400;
  max-width: 100%;
  max-height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-overflow: ellipsis;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  opacity: 0;
  font-size: 2rem;
  border-bottom-right-radius: 1rem;
}
.--mm-mainCanvas .--mm-widget.--mm-clockWidget .--mm-widget-front {
  font-family: 'Advent Pro', sans-serif;
  font-weight: 300;
  font-size: 15rem;
  text-align: center;
}
.--mm-mainCanvas .--mm-widget.--mm-clockWidget .--mm-widget-front .--mm-clockWidget-hours,
.--mm-mainCanvas .--mm-widget.--mm-clockWidget .--mm-widget-front .--mm-clockWidget-minutes,
.--mm-mainCanvas .--mm-widget.--mm-clockWidget .--mm-widget-front .--mm-clockWidget-seconds {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  dispay: block;
  margin: 0;
  padding: 0;
}
.--mm-mainCanvas .--mm-widget.--mm-clockWidget .--mm-widget-front .--mm-clockWidget-minutes {
  font-size: .66em;
  top: -0.34em;
}
.--mm-mainCanvas .--mm-widget.--mm-clockWidget .--mm-widget-front .--mm-clockWidget-seconds {
  font-size: .33em;
  top: -1.33em;
}
