[#] Normal rules
.*
*~
*.zip
*.rar
*.bak

[#] Windows Files
*.dll
*.bat
*.exe
Thumbs.db

[#]Linux Files
*.so
*.sh
.fuse_hidden*
.Trash-*

[#] OSX Files
.DS_Store
.AppleDouble
.LSOverride

[#] IntelliJ IDEA Files
.idea/
*.iml

[#] git files that we don't want to ignore even it they are dot-files
!.gitignore
