&.--mm-clockWidget{
	.--mm-widget-front{
		@include setNumberFont();
		font-weight: 300;
		font-size: 15rem;
		text-align: center;

		.--mm-clockWidget-hours,
		.--mm-clockWidget-minutes,
		.--mm-clockWidget-seconds{
			position: relative;
			user-select: none;
			dispay: block;
			// text-align: center;
			// vertical-align: middle;
			margin: 0;
			padding:0;
		}

		.--mm-clockWidget-hours{

		}
		.--mm-clockWidget-minutes{
			font-size: .66em;
			top: 0.66em - 1em;
		}
		.--mm-clockWidget-seconds{
			font-size: .33em;
			top: - 1.33em;
		}
	}

}
